<html>
<body>
<form action="/add-site" method="POST">

                              <label for="name"><br>Name: </label>
                <input type="text" id="name" name="name" cols="40" rows="5" required />
<label for="url"><br>Url: </label>
                <input type="text" id="url" name="url" cols="40" rows="5" required />


            

                

            <p></p>

<button class="btnn" type="submit" onclick="window.Android.showToast('Button clicked!')">Upload File</button>

            <p><br></p>
        </form>

</body>
</html>
